{% load static %}
<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top bg-t2b-dark">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img src="{% static 'images/logo.png' %}" alt=""></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'prevention' %}">Prevention</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'exercises' %}">Exercises</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{% url 'healthy_diets' %}">Diets</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{% url 'services' %}">Services</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline">
                        <button class="btn btn-outline-success" type="button">Login/Register</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>