<footer class="py-5 bg-dark">
    <div class="container-fluid padding">
		<div class="row text-center text-white">
		<div class="col-md-4">
			<p>555-555-555</p>
			<p>email@gmail.com</p>
			<p>100 State street</p>
			<p>State, City, 00000</p>
		</div>
		<div class="col-md-4">
			<p>Contact Hour</p>
			<p>Monday: 9am-5pm</p>
			<p>Friday:10am-2pm</p>
			<p>Saturday&Sunday:close</p>
		</div>
		<div class="col-md-4">
			<a href="Contact.html">Contact</a>
			<br>
			<a href="AboutUs.html">About Us</a>
		</div>
		<div class="col-md-12">
			<p class="m-0 text-center text-white">Copyright &copy; Type2Beat.live 2020</p>
		</div>
		</div>
    </div>
    <!-- /.container -->
	<footer>
		<div class="container-fluid padding">
			<div class="row text-center">
				
			</div>
		</div>
	</footer>
