{% extends 'base.html' %}
{% load static %}
{% block title %} Type2Beat | exercises {% endblock title %} 
{% block header %}
<header>
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-5 mb-3 t2b-h1">Exercises for Preventing Diabetes</h1>
    
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}" class="t2b-breadcrumb-a">Home</a>
            </li>
            <li class="breadcrumb-item active">Exercises</li>
        </ol>
        
        <!-- Image Header -->
        <img class="img-fluid rounded mb-4" src="{% static 'images/exercise-1.jpg' %}" alt="">
    </div>

    <div class = "container">
      <p class ="lead">Everybody benefits from regular physical exercise. If you have diabetes or are at risk of diabetes it plays a significant role in keeping you healthy.</p>
      <div class="lead text-info">
        <h4><strong>Benefits:</strong></h4>
        <li class ="lead text-body">Maintain a Healthy Weight</li>
        <li class ="lead text-body">Lower Your Blood Pressure</li>
        <li class ="lead text-body">Better Blood Suagr Control</li>
        <li class ="lead text-body">Reduce Risk of Cardiovascular Disease</li>
        <li class ="lead text-body">Reduce Stress</li>
      </div>
      <p><strong>Warning- Don’t take part in strenuous physical activity if you are feeling unwell or have ketones present in your blood or urine.</strong></p>
      <br>
      <div class="lead text-info">
        <h4><strong>Exercise Programs:</strong></h4>
        <p class="lead text-body">
          Before commencing a regular exercise program see your doctor for a full medical examination. Initially take it slow - you don’t want to start off too hard, if you are not used to the exercise you will be sore the next day and this will not make exercising a fun experience! Over time, you can slowly increase the intensity of the exercise.
        </p>
        <p class ="text-body">
          If you have any diabetes complications like retinopathy, nephropathy, you should talk to your doctor or an accredited exercise physiologist before you start increasing the intensity of your exercise.
        </p>
      </div>
      <br>
      <div class="lead text-info">
        <h4><strong>What Exercise Can I do?</strong></h4>
      </div>
    </div>

</header>
{% endblock header %}

{% block main %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header">Exercise 1</h4>
                <div class="card-body">
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary">Learn More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header">Exercise 2</h4>
                <div class="card-body">
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary">Learn More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header">Exercise 3</h4>
                <div class="card-body">
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary">Learn More</a>
                </div>
              </div>
            </div>
        </div>
          <!-- /.row -->
    </div>
</main>
{% endblock main %}
