{% extends 'base.html' %}
{% load static %}
{% block title %} Type2Beat | healthy diets {% endblock title %} 
{% block header %}
<header>
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-5 mb-3 t2b-h1">Healthy Diets for Preventing Diabetes</h1>
    
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}" class="t2b-breadcrumb-a">Home</a>
            </li>
            <li class="breadcrumb-item active">Healthy Diets</li>
        </ol>
    
        <!-- Image Header -->
        <img class="img-fluid rounded mb-4" src="{% static 'images/diet-1.jpg' %}" alt="">
    </div>
    
    <div class = "container">
      <p class ="lead">Without a appropriate diet, diabetes cannot be effectively controlled. Diabetic represent a large part of our social, and there are huge differences in diet needs and taste between people.</p>
      <br>
      <p class="lead">In fact, there is no one diabetic diet that is perfect for all diabetics, so our website will pay more attention to the elderly, and provide them with a customised diet plan to help them manage the glucose level and body weight.</p>
      
      <h5 class ="mt-5 mb-3 t2b-h1"><strong>WHICH DIET IS RIGHT FOR ME?</strong></h5>
      
    </div>
</header>
{% endblock header %}

{% block main %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header">Diet for Type 1 Diabetes</h4>
                <div class="card-body">
                  <img class="img-fluid rounded mb-4" src="{% static 'images/Type1Diet.jpg' %}" alt="">
                  <p class="card-text">The dietary recommendations usually provided for patients with type 1 diabetes are not much different from the dietary recommendations for patients without diabetes. The main question to consider is how much different foods may affect blood sugar levels, and how to balance carbohydrates with the right amount of insulin.</p>
                  <br>
                  <p class ="card-text">
                    A balanced diet can help prevent the development of diabetes. A balanced diet, which contains a variety of different vegetables, helps the body absorb different nutrients. In addition, we strongly recommend that the diet should contain nuts, avocados and fish. Such foods containing unsaturated fatty acids can help adjust various functions of the body.
                  </p>
                  <br>
                  <p class="card-text">
                    Finally, we recommend limiting the amount of processed food you eat and including home-made or freshly cooked food whenever possible.
                  </p>
                </div>
                <div class="card-footer">
                  <a class="btn btn-primary carousel-hyperlink text-white btn-sm" href="#">Learn More About Recipe</a>
                </div>
              </div>
            </div>
            
            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header">Diet for Type 2 Diabetes</h4>
                <div class="card-body">
                  <img class="img-fluid rounded mb-4" src="{% static 'images/Type2Diet.jpg' %}" alt="">
                  <p class="card-text">
                    The diet for type 2 diabetes should follow the principles of a healthy diet, with the focus on avoiding foods that adversely affect blood glucose levels. As a general guideline, the diet should include sources of unsaturated food such as various vegetables, nuts, avocados, and oily fish, while avoiding processed foods.
                  </p>
                  <br>
                  <p class="card-text"><strong>
                    Type 2 Diabetes and NHS Diet
                  </strong></p>
                  <p class ="card-text">
                    According to the NHS's dietary recommendations, you should eat starchy carbohydrates, as well as more fruits and vegetables, and less saturated fat, salt, and sugar at every meal. But many people with type 2 diabetes find that even amyloid carbohydrates with low GI content tend to significantly increase blood sugar levels.
                  </p>
                  <br>

                  <p class ="card-text"><strong>
                    Low-Crab Diest and Type 2 Diabetes
                  </strong></p>
                  <p class = "card-text">
                    Low-carb diets are becoming more common in patients with type 2 diabetes. Many diabetics report that blood sugar levels have improved in low-carb diets, which also helps reduce the substitution of drugs.
                  </p>
                </div>
                <div class="card-footer">
                  <a class="btn btn-primary carousel-hyperlink text-white btn-sm" href="#">Learn More About Recipe</a>
                </div>
              </div>
            </div>
            
            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header">Vegan Diet</h4>
                <div class="card-body">
                  <img class="img-fluid rounded mb-4" src="{% static 'images/veganDiet.jpg' %}" alt="">
                  <p class="card-text">
                    Many people are immediately afraid of vegan food, but this attitude is gradually changing, especially among diabetics. Can diabetics use a vegan diet to improve blood sugar control? <strong>Absolutely, yes!</strong>
                  </p>
                  <br>
                  <p class ="card-text">
                    Diabetics can control blood glucose levels more easily by eating a healthy vegan diet that is low in cholesterol and saturated fat. But a healthy vegetarian diet should be balanced enough to include fibre and protein.
                  </p>
                  <br>
                  <p class = "card-text">
                    This type of diet can help to limit glucose levels and provide better control of diabetes, especially when combined with exercise.
                  </p>
                </div>
                <div class="card-footer">
                  <a class="btn btn-primary carousel-hyperlink text-white btn-sm" href="#">Learn More About Recipe</a>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header">Vegetarian Diet</h4>
                <div class="card-body">
                  <img class="img-fluid rounded mb-4" src="{% static 'images/VegetarianDiet.jpg' %}" alt="">
                  <p class="card-text">
                    Diet is important for maintaining the health of all people. Particularly for diabetics, choosing a sustainable and healthy diet is very significant.
                  </p>
                  <br>
                  <p class ="card-text">
                    Diet is one of the most important ways to control diabetes. Combining appropriate exercise and medical treatment can provide an effective way to maintain the stability of glucose level.
                  </p>
                  <br>
                  <p class = "card-text">
                    A well-balanced vegetarian diet, with an emphasis on low fat, high fibres, and high carbohydrates can be particularly suitable for diabetic patients.
                  </p>
                </div>
                <div class="card-footer">
                  <a class="btn btn-primary carousel-hyperlink text-white btn-sm" href="#">Learn More About Recipe</a>
                </div>
              </div>
            </div>

        </div>
          <!-- /.row -->
    </div>
</main>
{% endblock main %}



