{% extends 'base.html' %}
{% load static %}
{% block title %} Type2Beat | healthy diets {% endblock title %} 
{% block header %}
<header>
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-5 mb-3 t2b-h1">Healthy Diets for Preventing Diabetes</h1>
    
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}" class="t2b-breadcrumb-a">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="{% url 'prevention' %}" class="t2b-breadcrumb-a">Prevention</a>
          </li>
            <li class="breadcrumb-item active">Healthy Diets</li>
        </ol>
    
        <!-- Image Header -->
        <img class="img-fluid rounded mb-4" src="{% static 'images/diet-1.jpg' %}" alt="">
    </div>
    
    <div class = "container">
      <p class ="lead">Food is important if you want to control your diabetes, learning about a healthy diet can also benefit everyone. There are many diet plans, we are here to recommend some plans that could effectively reduce your blood glucose levels or maintain it at a normal level. </p>
      <!-- <h4 class ="mt-5 mb-3 t2b-h1"><strong>WHICH DIET IS RIGHT FOR ME?</strong></h4> -->
      <h4><strong>Which Diet Is Right For Me?</strong></h4>
      <br>
    </div>
</header>
{% endblock header %}

{% block main %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header"> 
                  <i class="fad fa-utensils"></i>
                  </i> &nbsp &nbsp Diet for Type 1 Diabetes</h4>
                <div class="card-body">
                  <img class="img-fluid rounded mb-4" src="{% static 'images/Type1Diet.jpg' %}" alt="">
                  <p class="card-text">For type 1 diabetes, the advice is not very different from people who don’t have diabetes. First thing is that it is vital to count your carbohydrate intake, as it can balance your insulin intake with what you eat and drink. It is recommended to have a balanced diet, containing a variety of different vegetables, natural food is the best choice compared with other processed foods. </p>
                </div>
                <!-- <div class="card-footer">
                  <a href="{% url 'healthy_diets' %}" class="btn btn-primary t2b-btn-2 btn-md">Learn More About Recipe</a>
                </div> -->
              </div>
            </div>
            
            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header"> 
                  <i class="fad fa-utensils"></i>
                  </i> &nbsp &nbsp Diet for Type 2 Diabetes</h4>
                <div class="card-body">
                  <img class="img-fluid rounded mb-4" src="{% static 'images/Type2Diet.jpg' %}" alt="">
                  <p class="card-text">
                    For type 2 diabetes, it is important to understand how sugar in the food will affect your blood glucose levels, generally speaking, your diet should contain a variety of different vegetables, which can provide you with different nutrition your body needs, unsaturated fats sources, such as nuts and avocados. Also, it is vital that you avoid processed foods. It is also reported that low-carb diets can improve blood glucose levels.</p>
                </div>
                <!-- <div class="card-footer">
                  <a href="{% url 'healthy_diets' %}" class="btn btn-primary t2b-btn-2 btn-md">Learn More About Recipe</a>
                </div> -->
              </div>
            </div>
            
            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header"> 
                  <i class="fad fa-utensils"></i>
                  </i> &nbsp &nbsp Vegan Diet</h4>
                <div class="card-body">
                  <img class="img-fluid rounded mb-4" src="{% static 'images/veganDiet.jpg' %}" alt="">
                  <p class="card-text">
                    The idea of a vegan diet has been changing, generally, it means cutting out meat, dairy products. Although the foods you eat are limited, it can definitely improve your blood glucose levels. First, a vegan diet is low in cholesterol and saturated fat, but your body can still get enough fiber and protein, that’s why your blood glucose can be improved. 
                  </p>
                </div>
                <!-- <div class="card-footer">
                  <a href="{% url 'healthy_diets' %}" class="btn btn-primary t2b-btn-2 btn-md">Learn More About Recipe</a>
                </div> -->
              </div>
            </div>

            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header"> 
                  <i class="fad fa-utensils"></i>
                  </i> &nbsp &nbsp Vegetarian Diet</h4>
                <div class="card-body">
                  <img class="img-fluid rounded mb-4" src="{% static 'images/VegetarianDiet.jpg' %}" alt="">
                  <p class="card-text">
                    Different from the vegan diet, the vegetarian diet includes dairy products, like cheese and milk, it can also contain other products derived from an animal. But the principle remains the same as the vegan diet.
                  </p>
                </div>
                <!-- <div class="card-footer">
                  <a href="{% url 'healthy_diets' %}" class="btn btn-primary t2b-btn-2 btn-md">Learn More About Recipe</a>
                </div> -->
              </div>
            </div>

        </div>
          <!-- /.row -->
    </div>
    <div class="container-fluid t2b-section-2">

      <div class="row">
        <div class="container">
          <!-- <h4 class="my-4 t2b-h1">HOW WE CAN HELP YOU</h4> -->
          <h4><strong>Read This Next</strong></h4>
          <div class="row t2b-container">
    
            <div class="col-lg-4 t2b-section-service-1 opp-1">
              <div class="t2b-section-service-1-inner" style="background: url('{% static 'images/runforlink.jpg' %}')">
                <h2>Exercise Regularly</h2>
                <hr class="hr-white">
                <br>
                <br>
                <br>
                <a href="{% url 'exercises' %}" class="btn btn-primary t2b-btn-2">EXPLORE MORE</a>
              </div>
            </div>
    
            <div class="col-lg-4 t2b-section-service-1 opp-1">
              <div class="t2b-section-service-1-inner" style="background: url('{% static 'images/Avoidforlink.jpg' %}')"> 
                <h2>Avoid Fasting</h2>
                <hr class="hr-white">
                <br>
                <br>
                <br>
                <a href="{% url 'fast' %}" class="btn btn-primary t2b-btn-2">EXPLORE MORE</a>
              </div>
            </div>
    
            <div class="col-lg-4 t2b-section-service-1 opp-1">
              <div class="t2b-section-service-1-inner" style="background: url('{% static 'images/waterforlink.jpg' %}')"> 
                <h2>Water and Diabetes</h2>
                <hr class="hr-white">
                <br>
                <br>
                <br>
                <a href="{% url 'water' %}" class="btn btn-primary t2b-btn-2">EXPLORE MORE</a>
              </div>
            </div>

            <hr class="hr-white">
          </div>
        </div>
      </div>
    </div> 
</main>
{% endblock main %}



