{% extends 'base.html' %}
{% load static %}
{% block title %} Type2Beat - 1  in every 6 Australian senior citizens age above 65 years suffers from diabetes and its rate increases with age. Its therefore crucial to monitor one’s glucose level between the age of 55-65 for taking preventive during prediabetic phase. Moreover, to prevent diabetes, healthy food consumption and regular exercise also needs to be incorporated into their daily lives.{% endblock title %}

{% block header %}

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'images/carousel-5.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h2>Do you know Diabetes Type 2 can be prevented?</h2>
            <p>If you are new to type2beat, then come <a href="{% url 'services' %}" class="carousel-hyperlink"> <strong>join us</strong></a> and Learn
            how to prevent diabetes type 2.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'images/carousel-4.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h2>Diabetes: Prevention is better than Cure</h2>
            <p>Type2Beat can help preventing you from diabetes. <a href="{% url 'prevention' %}" class="carousel-hyperlink"> <strong>Learn More</strong> </a></p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'images/carousel-1.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h2>What healthy eating options are there?</h2>
            <p>We can help you to provide health eating options that can be cooked quickly and easily.
            <a href="{% url 'healthy_diets' %}" class="carousel-hyperlink"> <strong>Explore More</strong></a></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>
{% endblock header %}

{% block main %}
<div class="container-fluid t2b-section-1">
    <div class="container p-5">
      <h1 class="my-4 t2b-h1">"Start your Healthy Life Journey"</h1>
      <h4>Track your health everyday</h4>
      <h6>and</h6>
      <h4>prevent Diabetes</h4>
    </div>
</div>
<!-- Page Content -->
<section class="page-section" id="about">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Do you Know?</h2>
      </div>
      <ul class="timeline">
          <li>
              <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'images/1.jpg' %}" alt="" /></div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>we are in an age</h4>
                      <h4 class="subheading">where diabetes is a threat and</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">1 in every 6 Australian senior citizens
                      aged over 65 reported having diabetes, over 1 million hospitalizations
                      were associated with diabetes in 2016-2017, it is associated with a
                      myriad of complications which affect the feet, eyes, kidney, and cardiovascular
                      health.
                    </p>
                    <a class="know-more" href="{% url 'impact' %}">know more</a>
                  </div>
              </div>
          </li>
          <li class="timeline-inverted">
              <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'images/2.jpg' %}" alt="" /></div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4> what causes it?</h4>
                      <h4 class="subheading">As per the experts</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">bad eating habits, Overweight or family
                      history are the main causes of it.
                    </p>
                    <a class="know-more" href="{% url 'diabetes' %}">know more</a>
                  </div>
              </div>
          </li>
          <li>
              <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'images/3.jpg' %}" alt="" /></div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>It can be preveted</h4>
                      <h4 class="subheading">by following few things like</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Cutting excessive sugar and salt intake,
                      keeping track of your health conditions and regular exercise.
                    </p>
                    <a class="know-more" href="{% url 'prevention' %}">know more</a>
                  </div>
              </div>
          </li>
          <li class="timeline-inverted">
              <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'images/4.jpg' %}" alt="" /></div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>We care for you</h4>
                      <h4 class="subheading">and can help you in</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">recording your sugar, fat, and carbs intake
                      based on your diet, and glucose level and other key parameters
                      from your medical report, ensuring that you are able to keep
                      track of your diet and health.
                  </p>
                  <a class="know-more" href="{% url 'services' %}">know more</a>
                </div>
              </div>
          </li>
          <li class="timeline-inverted">
              <a class="timeline-image come-join-us" href="{% url 'login' %}">
                  <h4>Record Your<br />Healh<br />With Us</h4>
              </a>
          </li>
      </ul>
  </div>
</section>

<div class="container-fluid t2b-bg-gradient-1 p-3">
  <div class="container mt-5 mb-5 p-2">
    {# <div class="container my-5"> #}
    <div class="row">
      <div class="col-lg-6">
        <h1 class="t2b-h1">Here's what you can do</h1>
        <br>
        <h6><i class="fa fa-info-circle" aria-hidden="true"></i> Record your medical reports</h6>
        <h6><i class="fa fa-info-circle" aria-hidden="true"></i> Track your blood glucose</h6>
        <h6><i class="fa fa-info-circle" aria-hidden="true"></i> Monitor your daily sugar and carbs intake</h6>
      </div>
      <div class="col-lg-6">
        <img src="{% static 'images/dashboard.jpg' %}" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="container">
      <h1 class="my-4 t2b-h1">HOW WE CAN HELP YOU</h1>
      <div class="row t2b-container">

        <div class="col-lg-6 t2b-section-service-1 opp-1">
          <div class="t2b-section-service-1-inner" style="background: url('{% static 'images/service-info-record.jpg' %}')">
            <h2>Maintain Health Records</h2>
            <hr class="hr-white">
            <blockquote class="blockquote">
              Where you can store your medical report as images, or simply record some key diabetes-related parameters.
            </blockquote>
            <a href="{% url 'services' %}" class="btn btn-primary t2b-btn-2">EXPLORE MORE</a>
            <hr>
          </div>
        </div>

        <div class="col-lg-6 t2b-section-service-1 opp-1">
          <div class="t2b-section-service-1-inner" style="background: url('{% static 'images/service-glucose.jpg' %}')">
            <h2>Record Sugar Intake</h2>
            <hr class="hr-white">
            <blockquote class="blockquote">
              Record your daily sugar intake based on your diet.
            </blockquote>
            <a href="{% url 'services' %}" class="btn btn-primary t2b-btn-2">EXPLORE MORE</a>
          </div>
        </div>

        <div class="col-lg-6 t2b-section-service-1 opp-1">
          <div class="t2b-section-service-1-inner" style="background: url('{% static 'images/service-diet.jpg' %}')">
            <h2>Meals</h2>
            <hr class="hr-white">
            <blockquote class="blockquote">
              We will recommend suitable meals for you to prevent diabates.
            </blockquote>
            <a href="{% url 'services' %}" class="btn btn-primary t2b-btn-2">EXPLORE MORE</a>
          </div>
        </div>

        <div class="col-lg-6 t2b-section-service-1 opp-1">
          <div class="t2b-section-service-1-inner" style="background: url('{% static 'images/service-exercise.jpg' %}')">
            <h2>Exercise</h2>
            <hr class="hr-white">
            <blockquote class="blockquote">
              We will recommend suitable meals for you to prevent diabates.
            </blockquote>
            <a href="{% url 'services' %}" class="btn btn-primary t2b-btn-2">EXPLORE MORE</a>
          </div>
        </div>

        <hr class="hr-white">
      </div>
    </div>
  </div>
</div>
{% endblock main %}
