{% extends 'base.html' %}
{% load static %}
{% block title %} Type2Beat | healthy diets {% endblock title %} 
{% block header %}
<header>
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-5 mb-3 t2b-h1">How Diabetes Effects on the Kidneys</h1>
    
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}" class="t2b-breadcrumb-a">Home</a>
            </li>
            <!-- <li class="breadcrumb-item">
              <a href="{% url 'prevention' %}" class="t2b-breadcrumb-a">Prevention</a>
            </li> -->
            <li class="breadcrumb-item active">
                <a href = "{% url 'impact'%}">Effect of Diabetes</a>
            <li class="breadcrumb-item active">The Effect of Diabetes on the Kidneys</li>
        </ol>
    
        <!-- Image Header -->
        <img class="img-fluid rounded mb-4" src="{% static 'images/negative.jpg' %}" alt="">
    </div>
    
    <div class = "container">
        <div>
            <h4 class="text-info"><strong>What is diabetic kidney disease?</strong></h4>
            <p class ="lead text-body">Diabetic kidney disease is a type of kidney disease caused by diabetes. And diabetes is the leading cause of kidney disease. About 1 out of 4 adults with diabetes have kidney disease.</p>
            <p class ="lead text-body">The main job of the kidneys is to filter wastes and extra water out of your blood to make urine. Your kidneys also help control blood pressure and make hormones that your body needs to stay healthy.</p>
            <p class ="lead text-body">When your kidneys are damaged, they can’t filter blood like they should, which can cause wastes to build up in your body. Kidney damage can also cause other health problems.</p>
            <p class ="lead text-body">Kidney damage caused by diabetes usually occurs slowly, over many years. You can take steps to protect your kidneys and to prevent or delay kidney damage.</p>
            <p class ="lead text-body"></p>
        </div>
        <br>
        <div>
            <h4 class="text-info"><strong>What are other names for diabetic kidney disease?</strong></h4>
            <p class ="lead text-body">Diabetic kidney disease is also called DKD, chronic kidney disease, CKD, kidney disease of diabetes, or diabetic nephropathy.</p>            
        </div>
        <br>
        <div>
            <h4 class="text-info"><strong>How does diabetes cause kidney disease?</strong></h4>
            <p class ="lead text-body">High blood glucose, also called blood sugar, can damage the blood vessels in your kidneys. When the blood vessels are damaged, they don’t work as well. Many people with diabetes also develop high blood pressure, which can also damage your kidneys. Learn more about high blood pressure and kidney disease.</p>            

        </div>
        <br>
        <div>
            <h4 class ="text-info"><strong> What increases my chances of developing diabetic kidney disease?</strong></h4>
            <p class ="lead text-body"></p>            
            <ul class ="list-unstyled">
                <li class ="lead text-body">Having diabetes for a longer time increases the chances that you will have kidney damage. If you have diabetes, you are more likely to develop kidney disease if your</li>
                <ul>
                    <li class ="lead text-body">blood glucose is too high</li>
                    <li class ="lead text-body">blood pressure is too high</li>
                </ul>
                <li class ="lead text-body">African Americans, American Indians, and Hispanics/Latinos develop diabetes, kidney disease, and kidney failure at a higher rate than Caucasians.</li>
                <li class ="lead text-body">You are also more likely to develop kidney disease if you have diabetes and</li>
                <ul>
                    <li class ="lead text-body">smoke</li>
                    <li class ="lead text-body">don't follow your diabetes eating plan</li>
                    <li class ="lead text-body">eat foods high in salt</li>
                    <li class ="lead text-body">are not active</li>
                    <li class ="lead text-body">are overweight</li>
                    <li class ="lead text-body">have heart disease</li>
                    <li class ="lead text-body">have a family history of kidney failure</li>
                </ul>
            </ul>
        </div>
        <br>

    </div>
</header>
{% endblock header %}

{% block main %}
<main>
    <div class="container">
        <h4 class="text-info"><strong>Read This Next:</strong></h4>
        <div class="row">
            
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header"> 
                    <i class="fad fa-heartbeat"></i>
                    </i> &nbsp &nbsp Diabetes and Heart</h4>
                  <div class="card-body">
                    <img class="img-fluid rounded mb-4" src="{% static 'images/effectHeart.jpg' %}" alt="">
                    <a href="{% url 'heart' %}" class="btn btn-primary t2b-btn-1 btn-md">Learn More</a>
                  </div>
                </div>
            </div>
            
            <div class="col-lg-4 mb-4">
              <div class="card h-100">
                <h4 class="card-header"> 
                    <i class="fad fa-eye"></i>
                    </i> &nbsp &nbsp Diabetes & Eyes</h4>
                <div class="card-body">
                  <img class="img-fluid rounded mb-4" src="{% static 'images/effectEyes.jpg' %}" alt="">
                  <a href="{% url 'eyes' %}" class="btn btn-primary t2b-btn-1 btn-md">Learn More</a>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header"> 
                        <i class="fad fa-spider-web"></i>
                        </i> &nbsp &nbsp Diabetes & Nerves</h4>
                    <div class="card-body">
                        <img class="img-fluid rounded mb-4" src="{% static 'images/EffectNerves.jpg' %}" alt="">
                        <a href="{% url 'healthy_diets' %}" class="btn btn-primary t2b-btn-1 btn-md">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
              <div class="card h-100">
                <h4 class="card-header"> 
                    <i class="fad fa-stomach"></i>
                    </i> &nbsp &nbsp Effect of Diabetes on Digestion</h4>
                <div class="card-body">
                  <img class="img-fluid rounded mb-4" src="{% static 'images/effectdigestion.jpg' %}" alt="">
                  <a href="{% url 'healthy_diets' %}" class="btn btn-primary t2b-btn-1 btn-md">Learn More</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header"> 
                    <i class="fad fa-notes-medical"></i>
                    </i> &nbsp &nbsp Effect of Diabetes on the Skin</h4>
                  <div class="card-body">
                    <img class="img-fluid rounded mb-4" src="{% static 'images/effectskin.jpg' %}" alt="">
                    <a href="{% url 'healthy_diets' %}" class="btn btn-primary t2b-btn-1 btn-md">Learn More</a>
                  </div>
                </div>
            </div>

        </div>
          <!-- /.row -->
    </div>
</main>
{% endblock main %}

