@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Source+Sans+Pro:wght@200;400&display=swap');

/* colors {
    primary: #009389
    secondary: #69BDBB
    bg-dark: #272727
    bg-light: #c0c0c0
} */

:root {
    --font-family-sans-serif: 'Source Sans Pro',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-serif: Merriweather, serif;

    --gray: #404040;
    --primary: #69BDBB;
    --primary-light: #b8f2e6;
    --secondary: #009389;
    --dark: #000;
    --light: #c0c0c0;
    --white: #ffffff;

    --color-text: var(--dark);
    --font-family-text: var(--font-family-serif);
}


body {
    padding-top: 56px;
}

.bg-t2b-dark {
    background-color: #000;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

.carousel-hyperlink {
    text-decoration: none;
    color: #69BDBB;
    font-weight: 500;
    font-size: 18px;
}

.carousel-hyperlink:hover {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.t2b-section-1 {
    background: #69BDBB;
    margin: 0;
    text-align: center;
    padding: 1.5rem;
}

.t2b-section-1 p{
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.t2b-h1 {
font-family: 'Roboto', sans-serif;
}

.t2b-breadcrumb-a{
    color: #009389;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.t2b-breadcrumb-a:hover{
    color: #000;
    font-weight: 700;
}

.t2b-navi-1 {
    font-family: 'Roboto', sans-serif;
    margin: 0.7rem auto;
    text-decoration: none;
    padding: 1rem;
    transition: 0.3s ease-in-out;
    background-color: #69BDBB;
    color: white;
    border-color: #009389;

}

.t2b-navi-1:hover {
    text-decoration: none;
    background-color: #009389;
    color: var(--white);
}

.t2b-form {
  display: block;
  width: 100%;
  padding: 4rem;
  background: var(--primary);
  border-radius: 1%;
  margin: 5% auto;
}

.t2b-btn-1 {
  margin: 0.7rem auto;
  text-decoration: none;
  padding: 1rem 2.75rem;
  transition: 0.3s ease-in-out;
  background-color: var(--secondary);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-family: var(--font-family-serif);
  box-shadow: 2px 2px 5px var(--dark);
}

.t2b-btn-1:hover {
  box-shadow: 1px 1px 4px var(--dark);
  transition: .3s ease-in-out;
}

.t2b-btn-2 {
    margin: 0.7rem auto;
    text-decoration: none;
    padding: 1rem;
    transition: 0.3s ease-in-out;
    background-color: #009389;
    color: white;
    border: none;
    /* box-shadow: 1px 1px #000; */
    font-family: 'Roboto', sans-serif;
}

.t2b-btn-2:hover{
    text-decoration: none;
    background-color: #fff;
    color: #009389;
}

.t2b-section-2 {
    background: #f0f0f0;
}

.t2b-section-service-1{
    min-height: 400px;
    background: #000;
    text-align: center;
    color: #f0f0f0;
    padding: 5px;
}

.t2b-section-service-1-inner {
    height: 100%;
    padding: 10px;
    color: #fff;
}

.t2b-section-service-1-inner h2 {
    padding-top: 30px;
}

.opp-1{
    background-color: #fff;
    color: #0c0c0c;
}

.opp-2 {
    background-color: #c0c0c0;
    color: #0d0d0d;
}

.hr-white {
    background-color: #fff;
}

.blockquote {
    font-weight: 400;
    font-size: medium;
}
