{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <!-- bootstrap stylesheet -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'factory/bootstrap/css/bootstrap.min.css' %}">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- custom stylesheet -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- sidebar -->
        <div class="t2b-bg-primary" id="sidebar-wrapper">
            <div class="sidebar-heading">Type2Beat.live</div>
                <div class="list-group list-group-flush">
                    <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action"><i class="fa fa-home" aria-hidden="true"></i>Dashboard</a>
                    <a href="{% url 'medical' %}" class="t2b-bg-dark list-group-item list-group-item-action"><i class="fa fa-table" aria-hidden="true"></i>Medical Record</a>
                    <a href="{% url 'glucose' %}" class="t2b-bg-dark list-group-item list-group-item-action"><i class="fa fa-table" aria-hidden="true"></i>Record Glucose</a>
                    <a href="#" class="t2b-bg-dark list-group-item list-group-item-action"><i class="fa fa-info-circle" aria-hidden="true"></i>Exercises</a>
                    <a href="{% url 'food' %}" class="t2b-bg-dark list-group-item list-group-item-action"><i class="fa fa-cutlery" aria-hidden="true"></i>Food</a>
                    <a href="#" class="t2b-bg-dark list-group-item list-group-item-action"><i class="fa fa-bell" aria-hidden="true"></i>Notification</a>
                    <a href="#" class="t2b-bg-dark list-group-item list-group-item-action"><i class="fa fa-info-circle" aria-hidden="true"></i>Help</a>
                </div>
            </div>

            <div id="page-content-wrapper">
                <nav class="t2b-bg-dark navbar navbar-expand-lg border-bottom">
                    <div class="menu-btn" id="menu-toggle">
                        <div class="hamburger"></div>
                    </div>
                    <div class="t2b-navbar-hero"><img src="{% static 'images/logo.png' %}" alt=""></div>
                    <button class="menu-btn navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#myTogglerNav" aria-controls="myTogglerNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <svg class="bi bi-grid-3x3-gap-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 01-1 1H2a1 1 0 01-1-1V2zm5 0a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 01-1 1H7a1 1 0 01-1-1V2zm5 0a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 01-1 1h-2a1 1 0 01-1-1V2zM1 7a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 01-1 1H2a1 1 0 01-1-1V7zm5 0a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 01-1 1H7a1 1 0 01-1-1V7zm5 0a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 01-1 1h-2a1 1 0 01-1-1V7zM1 12a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 01-1 1H2a1 1 0 01-1-1v-2zm5 0a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 01-1 1H7a1 1 0 01-1-1v-2zm5 0a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 01-1 1h-2a1 1 0 01-1-1v-2z"/>
                        </svg>
                    </button>
                    <section class="collapse navbar-collapse" id="myTogglerNav">
                        <div class="t2b-navbar-item navbar-nav ml-auto mt-2 mt-lg-0">
                            <a class="nav-item nav-link" href="">Help</a>
                            <a class="nav-item nav-link" href="">My account</a>
                            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </section>
                </nav>

                {% block main %}{% endblock main %}
                {% block secondary %}{% endblock secondary %}
            </div>
        </div>
    </div>
    <!-- bootstrap js files -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <script src="{% static 'js/main.js' %}"></script>
    {% block script %} {% endblock script %}
</body>
</html>
