{% extends "dash-base.html" %}
{% load static %}
{% block title %}Glucose Tracker | Type2Beat{% endblock title %}
{% block main %}
<div class="t2b-container-2 t2b-bg-light">
  <div class="t2b-box1 t2b-bg-white">
    <h1 class="t2b-h1 t2b-centre">
      Record you Glucose Intake
    </h1>
    <hr>
    <div class="t2b-container-3">
      <div class="search-box">
        <form>
          <input type="text" placeholder="Search..." class="form-control" id="searchItem">
          <button type="button" name="button" class="t2b-btn-1" id="search-food-item"> Search</button>
        </form>
      </div>
      <div class="food-item-box t2b-bg-white">
        <ul id="food-item-holder"></ul>
      </div>
      <div class="food-item-box t2b-bg-white">
        <div id="projector">

        </div>
      </div>
  </div>
</div>
{% endblock main %}

{% block secondary %}
{% endblock secondary %}

{% block script %}
{% endblock script %}
