{% extends "dash-base.html" %}
{% load static %}
{% block title %}Glucose Tracker | Type2Beat{% endblock title %}
{% block main %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
<div class="t2b-container-2 t2b-bg-light shadow">
  <div class="t2b-box1 t2b-bg-white shadow">
    <h1 class="t2b-h1 t2b-centre">
      Record you Sugar Intake
    </h1>
    <hr>
    <div class="t2b-container-3">
      <div class="search-box">
        <form class="searchform">
          <input type="text" placeholder="Search..." class="form-control" id="searchItem">
          <button type="button" name="button" id="search-food-item"><i class="fa fa-search"></i></button>
        </form>
        <div class="food-item-box t2b-bg-white">
          <ul id="food-item-holder"></ul>
        </div>
      </div>
      <div class="projection t2b-bg-white">
        <div id="projector"></div>
      </div>
      <div class="projection t2b-bg-white p-3">
        <h3 class="lead"><strong>Meal Type</strong></h3>
        <form action="{% url 'glucose' %}" method="POST" id="nutritionIntakeForm">
          {% csrf_token %}
          <input type="radio" name="mealType" value="Breakfast"> Breakfast<br>
          <input type="radio" name="mealType" value="lunch"> Lunch<br>
          <input type="radio" name="mealType" value="Dinner"> Dinner<br>
          <input type="radio" name="mealType" value="snack" checked> Snack<br>
          <h3 class="lead mt-3"><strong>Meal Date</strong></h3>
          <input type="date" name="mealDate" value="" required>
        </form>
        <button type="button" name="button" class="t2b-btn-1 mt-3">Select</button>
      </div>
    </div>
  </div>
  <div class="t2b-box1 t2b-bg-white">
    <div class="t2b-box3">
      <h1 class="t2b-h2 t2b-centre">
        Meal Intake
      </h1>
      <hr>
      <div class="" id="cart-view">
        <ul></ul>
      </div>
      <p class="blockquote-footer  mt-2">Total (carbs - 1800g | sugar - 100g)</p>
      <button type="button" class="t2b-btn-1" name="button" id="record-nutrition" disabled>Record</button>
    </div>
  </div>
</div>
{% endblock main %}

{% block secondary %}
{% endblock secondary %}

{% block script %}
{% endblock script %}
